html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #000000;
    --secont-text-color: #212121;
    --accent-color: #2196f3;
    --notactiv-color: #757575;
    --primary-white-color: #ffffff;
    --button-color: #f5f4fa;
    --footer-backgr-color: #2f303a;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

h1,
h2,
h3,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding: 0;
}


/* шапка страницы*/

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-white-color);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--secont-text-color);
}

li {
    list-style-type: none;
}

nav a.logo {
    display: inline-block;
    margin-right: 93px;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-text-color);
}

.logo-color {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

ul.nav-link,
ul.nav-info {
    display: flex;
    flex-direction: row;
}

a.link {
    display: inline-block;
    margin-left: 50px;
    margin-top: 32px;
    margin-bottom: 32px;
}

ul li .link.current,
ul li .link-mail.link {
    margin-left: 0ex;
}

.nav-link,
.nav-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.link.current,
.link:focus,
.link-mail:hover,
.link-mail:focus {
    color: var(--accent-color);
}

.link:active {
    color: var(--notactiv-color);
}

.link-tel {
    color: var(--notactiv-color);
}


/* главная секция */

main {
    display: block;
}

section.main-info {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--footer-backgr-color);
}

.main-info.title {
    display: block;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.2;
    color: var(--primary-white-color);
    background-color: var(--footer-backgr-color);
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    padding-left: auto;
    padding-right: auto;
}

.main-link {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.main-info .main-link {
    text-align: center;
}

.main-link:hover,
.main-link:focus {
    color: var(--notactiv-color);
}


/* секция приимущества студии */

.post-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section.container.list {
    padding-top: 94px;
    padding-bottom: 94px;
}

.post-list li {
    flex-basis: calc(100% / 4 - 10px);
}

.post {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: var(--secont-text-color);
    text-transform: uppercase;
}

.post-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--notactiv-color);
}


/* секция карточек Чем занимаются и Команда*/

.list-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 94px;
}


/* Секция НАША КОМАНДА */

.container.team {
    padding-top: 94px;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.cards-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--secont-text-color);
    letter-spacing: 0.03em;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--secont-text-color);
    letter-spacing: 0.03em;
    text-align: center;
}

.team-name-class {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--notactiv-color);
    letter-spacing: 0.03em;
    text-align: center;
}


/* подвал */

.footer {
    background-color: var(--footer-backgr-color);
    font-style: normal;
}

.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-white-color);
}

.logo-color {
    color: var(--accent-color);
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--primary-white-color);
}

.footer-info-mail:hover,
.footer-info-mail:focus {
    color: var(--accent-color);
}

.footer-info-mail,
.footer-info-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--notactiv-color);
}


/* Страница ПОРТФОЛИО */

button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    text-align: center;
}

button:hover,
button:focus {
    color: var(--primary-white-color);
    background: var(--accent-color);
}

button:active {
    color: var(--notactiv-color);
}

.portfolio-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-card-more {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--notactiv-color);
}